@media (max-width: 992px) {
    .player-images{
        width: 95%;
        
    }

  }
@media (max-width: 768px) {
    .player-images{
        height: 300px;
        margin-bottom: 10px;
    }
    #goal-number{
    margin-left:40%;
    font-size: 200px;
    color: white;
    text-shadow: 5px 5px black;
    transform: translateY(-100%);
}
}




@media (max-width: 576px) {
    html,
    body{
        background: url('../images/debut_dark_@2X.png');
    }
    .player-images{
        width: auto;
        height: auto;
    }
    #goal-number-div img{
        display: none;
     }
     #goal-number{
    margin-left:50%;
    font-size: 200px;
    color: white;
    text-shadow:2px 2px black;
    transform: translateY(100%);
}

}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/